{% extends 'main.html' %} {% load static %} {% block content %}

<div class="phone-input-container">
  <h2 class="phone-input-title">Enter Your Phone Number</h2>
  <form class="phone-input-form" method="POST" action="{% url 'phone' %}">
    {% csrf_token %}
    <input
      class="phone-input-field"
      type="tel"
      name="phone_number"
      placeholder="Enter phone number"
      required
    />
    <button class="phone-input-button" type="submit">Send OTP</button>
  </form>
</div>

{% endblock %}
